<h1> "<%= @Player_1.name %>, you have attacked <%= @Player_2.name %> (That is quite mean really)"</h1>
<h2> "<%= @Player_2.name %> , you have <%= @Player_2.life %> points "
<div style='border: 3px solid red' >
<img src= 'http://3.bp.blogspot.com/-uWvDDB3Pfqw/UUoHNwbqigI/AAAAAAAAAFc/OPsy5eE_ZoI/s1600/10.JPG'>
</div>



<a href='/play'> Ok!</a>
