<h1> "<%= @game.player_1.name %>, you have attacked <%= @game.player_2.name %> (That is quite mean really)"</h1>
<h2> "<%= @game.player_2.name %> , you have <%= @game.player_2.life %> points "</h2>
<div style='border: 3px solid red' >
  <img src= 'http://3.bp.blogspot.com/-uWvDDB3Pfqw/UUoHNwbqigI/AAAAAAAAAFc/OPsy5eE_ZoI/s1600/10.JPG'>
</div>



<a href='/play'> Ok!</a>