<h1> "<%= @Player_1 %>, you have attacked <%= @Player_2 %> (That is quite mean really)"</h1>


<div style='border: 3px solid red' >
<img src= 'http://3.bp.blogspot.com/-uWvDDB3Pfqw/UUoHNwbqigI/AAAAAAAAAFc/OPsy5eE_ZoI/s1600/10.JPG'>
</div>
