<h1> "Player 1 is: <%= @Player_1 %>, they have 20 points"</h1>
<!-- <h2> "They have 20 points" </h2> -->
<h1> "Player 2 is: <%= @Player_2 %>, they have 20 points"</h1>
<!-- <h2> "They have 20 points" </h2> -->
