

<h1> "Player 1 is: <%= @game.player_1.name %>, they have <%= @game.player_1.life %> points"</h1>

<h1> "Player 2 is: <%= @game.player_2.name %>, they have <%= @game.player_2.life %> points"</h1>

<!-- <a href= "/attack"> Attack!</a>  -->
<form action= "/attack">
  <input type= "submit" value= "Attack!">
</form>
